<div class="padding-horizontal">
  <div class="padding-vertical border-bottom">
    <div class="ad-title">
      ADVERTISMENT
    </div>
  </div>
  <div class="padding-vertical">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Fortnite BR Guide -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7899643142531807"
         data-ad-slot="5293762978"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>