<div class="padding-horizontal padding-vertical">
  <div class="post-list-title title one-space-bottom">
    SHARE THIS ON:
  </div>

  <div class="flex">
    <div class="two-column">
      <a onclick="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u=<%= category_post_url(@category, @post) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0)" class="facebook-button">FACEBOOK</a>
    </div>
    <div class="two-column">
      <a onclick="javascript:window.open('http://twitter.com/share?text=<%= @post.title %> | Fortnite BR Guide - &amp;url=<%= category_post_url(@category, @post) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0)" class="twitter-button">TWITTER</a>
    </div>
  </div>
</div>