/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$main: #66d0ff;
$dark: #D65940;
$light: #E8B922;
$black: #181C1C;
$white: #FAF8F8;
$grey: #b1b1b1;
$light-grey: #e1e1e1;
$font: Helvetica Neue, Helvetica, Arial, sans-serif;
$title: "BurbankBigCondensed-Black", Helvetica Neue, Helvetica, Arial, sans-serif;

@font-face {
  font-family: "BurbankBigCondensed-Black";
  src: url(asset-path('fonts/BurbankBigCondensed-Black.otf'));
}

@mixin transition {
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

body {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 1.75em;
  font-family: $font;
  letter-spacing: .75px;
  font-weight: 300;
  color: $black;
  background: $white;
}

img {
  vertical-align: bottom;
}

ul {
  list-style: none;
}

a {
  @include transition;
  color: $main;
  text-decoration: none;
  &:hover {
    color: $dark;
  }
}

img {
  vertical-align: bottom;
}

::selection {
  color: #fff;
  background: $main;
}

::-moz-selection {
  color: #fff;
  background: $main;
}

.mobile-only {
  display: none;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  width: 96%;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.bold {
  font-weight: 400;
}

.border-bottom {
  border-bottom: 1px solid $light-grey;
}

.black-link {
  color: $black;
}

.title {
  font-family: $title;
}

.clip {
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
}

/* *************** FLASH AND ERRORS *************** */

.flash {
  position: fixed;
  margin: 0 auto;
  z-index: 1006;
  width: 60%;
  top: 0;
  left: 20%;
}

.alert-notice {
  border-top: 10px solid green;
  background: $white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.alert-alert {
  border-top: 10px solid red;
  background: $white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.alert {
  width: 90%;
  margin: 0 auto;
  padding: 1vh 0;
  font-family: $font
}

#error_explanation {
  color: red;
  font-size: .75em;
  ul {
    padding: 0;
    li {
      line-height: 1.25em;
      padding: 0;
    }
  }
}

/* **************** AREAS *************** */

.site-title {
  margin-top: 5vh;
  font-size: 3em;
}

.header-text {
  padding: 45vh 5% 6vh 5%;
  font-size: 5em;
  color: #fff;
  background: rgba(0,0,0,0.5);
}

.rotate {
  transform: rotate(-2deg);
}

.header-image {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  img {
    text-align: center;
    max-width: 1920px;
    max-height: 640px;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.content {
  margin: 3vh auto;
  width: 70%;
  display: inline-block;
  vertical-align: bottom;
}

.content-container {
  width: 100%;
  background: #fff;
  margin: 2vh 0;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.sidebar {
  margin: 3vh auto;
  width: 25%;
  display: inline-block;
  vertical-align: bottom;
}

.padding-vertical {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.padding-horizontal {
 padding-left: 2vw;
 padding-right: 2vw;
}

.side-nav {
  width: 100%;
  background: #fff;
  margin: 2vh 0;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  ul {
    padding: 2vh 2vw;
    margin: 0;
    li {
      display: block;
      padding: 1vh 0;
      position: relative;
      &:first-child {
        padding: 0 0 1vh 0;
      }
      &:last-child {
        padding: 1vh 0 0 0;
      }
    }
  }
}

.margin-fix {
  margin-top: 20px;
}

.thumbnail-image {
  width: 100%;
  height: 30vh;
  border-radius: 4px 0 0 4px;
  object-fit: cover;
  display: block;
  -webkit-backface-visibility: hidden;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  &:hover {
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    opacity: .75;
  }
}

.one-column {
  margin: 0 auto;
  width: 35%;
  display: inline-block;
  vertical-align: top;
}

.second-column {
  margin: 0 auto;
  width: 64%;
  height: 30vh;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.two-column {
  margin: 0 auto;
  width: 48%;
  display: inline-block;
  vertical-align: top;
  .submit-button {
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 90%);
  }
}

.description-text {
  padding: 0 2vw;
  line-height: 1.5em;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* ********************* POSTS ***************** */

.post-content {
  word-break: break-word;
  white-space: pre-line;
  padding-bottom: 2vh;
  .subtitle {
    margin: -20px 0 -20px 0;
    font-size: 1.25em;
    font-weight: 400;
  }
  img {

  }
}

.front-container {
  margin-top: 21px;
}

.image-border {
  border-radius: 4px 4px 0 0;
}

.image-clip {
  clip-path: polygon(0 0, 100% 0%, 100% 95%, 0 100%);
}

/* *************** SIZES ***************** */

.post-title {
  font-size: 2.5em;
  line-height: 1.15em;
}

.post-list-title {
  font-size: 1.5em;
  padding-bottom: 1vh;
}

.tiny-text {
  color: $grey;
  font-size: .75em;
  line-height: 1em;
}

.one-space-top {
  margin-top: 1vh;
}

.one-space-bottom {
  margin-bottom: 1vh;
}

.two-space-top {
  margin-top: 2vh;
}

.five-space {
  margin: 5vh 0;
}

/* ******************* FORMS ****************** */

textarea:focus, input:focus{
    outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white;
}

input[type="submit"] {
  font-weight: 200;
  font-family: $title;
  letter-spacing: .75px;
}

input[type=checkbox] {
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  margin: 0 5px 0 0;
  vertical-align: baseline;
}

label {
  vertical-align: middle;
}

::placeholder {
  color: $grey;
}

.new_email {
  width: 100%;
}

.form-container {
  width: 50%;
  margin: 0 auto;
}

@mixin fields {
  width: 100%;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: .5px;
  font-family: $font;
  border-bottom: 1px solid $black;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  display: inline-block;
  box-sizing: border-box;
  &:focus {
    border: 1px solid $black;
  }
}

.text-field {
  @include fields;
  padding: 1vh 1vw;
  background: $white;
}

.text-field-white {
  @include fields;
  padding: 1vh 1vw;
  background: #fff;
}

.text-area {
  @include fields;
  min-width: 100%;
  max-width: 100%;
  height: 30vh;
  padding: 1vh 1vw;
  background: $white;
}

@mixin buttons {
  @include transition;
  width: 100%;
  display: inline-block;
  padding: 1.15vh 1vw;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  background-color: $light;
  cursor: pointer;
  box-sizing: border-box;
  color: $black;
  font-family: $title;
  clip-path: polygon(0 0, 100% 10%,100% 90%, 0 100%);
  &:hover {
    background-color: #DDAD15;
    color: $black;
  }
}

.submit-button {
  @include buttons;
}

.facebook-button {
  @include buttons;
  background-color: #3b5998;
}

.twitter-button {
  @include buttons;
  background-color: #55acee;
  clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 90%);
}

/* ****************** HEADER AND FOOTER ************** */

.nav-links {
  color: $main;
  &:hover {
    color: $dark;
  }
}

.full-footer-container {
  width: 100%;
  clear: both;
  margin-top: 5vh;
  padding: 2vh 0;
}

.footer {
  font-size: .75em;
  width: 100%;
  display: inline-block;
  span {
    float: left;
  }
  .nav-links {
    @include transition;
    color: $grey;
    &:hover {
      @include transition;
      color: $light;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    float: right;
    li {
      position: relative;
      display: inline-block;
      margin: 0 1vw;
      &:first-child {
        margin: 0 1vw 0 0;
      }
    }
  }
}

.footer-disclaimer {
  font-size: .75em;
  text-align: center;
  color: $grey;
}

/* ******************** JAVASCRIPTS ************** */

#menu-click {
  @include transition;
  cursor: pointer;
  color: $main;
  &:hover {
    color: $dark;
  }
}

#close-menu {
  @include transition;
  cursor: pointer;
  color: $black;
  &:hover {
    color: $dark;
  }
}

#menu-container {
  display: none;
}

.side-header {
  display: none;
}

.back {
  display: none;
}

/* ******************* MEDIA QUERIES *************** */

@media screen and (max-width: 1000px) {

  .no-mobile {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .content {
    width: 100%;
    margin: 0;
  }

  .sidebar {
    width: 100%;
    margin: 0 0 0 0;
  }

  .side-header {
    display: block;
    position: absolute;
    text-align: center;
    z-index: 1003;
    width: auto;
    color: $black;
  }

  #menu-container {
    display: none;
    position: absolute;
    width: 96%;
    margin: 0 auto;
    left: 50%;
    top: 0;
  }

  .blur {
    -webkit-filter: blur(4px);
  }

  .back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black;
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.80;
    opacity: 0.80;
    z-index: 1002;
  }

  @mixin mobile-nav {
    float: none;
    text-align: center;
  }

  .footer {
    text-align: center;
    span {
      @include mobile-nav;
    }
    ul {
      @include mobile-nav;
    }
  }

  .side-nav {
    width: 100%;
    padding: 0;
    position: relative;
    left: -50%;
    ul {
      padding: 2vh 2vw;
      margin: 0;
      li {
        display: block;
        padding: 1vh 0;
        position: relative;
        &:first-child {
          padding: 0 0 1vh 0;
        }
        &:last-child {
          padding: 1vh 0 0 0;
        }
      }
    }
  }

  .one-column {
    width: 100%;
  }

  .second-column {
    width: 100%;
    height: auto;
  }

  .thumbnail-image {
    border-radius: 4px 4px 0 0;
  }

  .two-column {
    width: 100%;
  }

  .bottom {
    position: relative;
  }

  .description-text {
    margin-bottom: 1vh;
  }

}
